.div-block {
  height: auto;
  background-image: url("../images/katdug-back.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.body {
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

.bg-block {
  height: 100vh;
  max-height: none;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("../images/katdug-back.jpg");
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/katdug-back.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.nav-block {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  white-space: nowrap;
}

.nav-block.footer {
  display: block;
  padding: 0px 0%;
  color: #888;
  text-align: left;
}

.link {
  padding-right: 20px;
  border: 2px solid transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -o-object-fit: fill;
  object-fit: fill;
}

.link.foot {
  padding-right: 15px;
  color: #888;
  font-size: 14px;
}

.tagline {
  margin-top: 0%;
  margin-bottom: 1%;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: 2px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 12%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-block {
  margin-top: 90px;
}

.h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.h2.hero {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 2px;
}

.h3 {
  position: static;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #555;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  -o-object-fit: fill;
  object-fit: fill;
}

.h3.hero {
  margin-top: 2%;
  padding-left: 0%;
  color: rgba(255, 255, 254, 0.8);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: none;
}

.yellow.line {
  margin-top: 5%;
  margin-right: 30%;
  padding: 5% 5% 0% 0%;
  border-top: 1px solid rgba(255, 225, 86, 0.8);
  border-radius: 0px;
  background-color: transparent;
  font-size: 23px;
  line-height: 35px;
}

.ul.hero {
  margin-bottom: 0px;
  padding-left: 20px;
  list-style: none;
}

/* Yellow bullet points */
.li.hero::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgba(255, 225, 86, 0.8); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.li.hero {
  color: rgba(255, 255, 254, 0.8);
  margin-bottom: 3%;
  padding-left: 0%;
  font-size: 23px;
  letter-spacing: 1px;
  text-transform: none;
}

.button {
  margin-top: 40px;
  margin-right: 10px;
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 225, 86, 0.8);
  border-radius: 30px;
  background-color: rgba(255, 225, 86, 0.1);
  color: rgba(255, 225, 86, 0.8);
  font-size: 19px;
}

.button.colour {
  margin-top: 0px;
  background-color: rgba(255, 225, 86, 0.8);
  color: rgba(255, 255, 254, 0.8);
  font-weight: 500;
}

.button._2 {
  margin-top: 0px;
  font-weight: 500;
}

.bg-white {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Info section START */

.h2-title.banner {
  max-width: none;
  margin-right: 15%;
  margin-left: 15%;
  color: #555;
}

.h3-title {
  color: #555;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 4%;
  font-size: 25px;
}

.section-block {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 12%;
  padding-left: 12%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.h2-title {
  max-width: 217px;
  margin: 0px auto 50px;
  padding-bottom: 30px;
  border-style: none none solid;
  border-width: 2px;
  border-color: #000 #000 rgba(255, 225, 86, 0.8);
  color: #555;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -o-object-fit: fill;
  object-fit: fill;
}

.ul.info {
  margin-bottom: 0px;
  padding-left: 20px;
  list-style: none;
}

/* Yellow bullet points */
.li.info::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgba(255, 225, 86, 0.8); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.li.info {
  color: #555;
  text-transform: none;
}

.h2-title.dug {
  color: rgba(255, 255, 254, 0.8);
}

.image {
  height: 100px;
}

.about-img {
  border-radius: 5px;
}

.hello {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Cookie, sans-serif;
  color: #555;
  font-size: 70px;
  line-height: 60px;
  font-weight: 400;
}

.paragraph {
  color: #555;
  text-align: justify;
}

.paragraph.projects {
  margin-top: 40px;
}

.paragraph.center {
  text-align: center;
}

.paragraph.center.dug {
  color: rgba(255, 255, 254, 0.8);
  line-height: 29px;
}

.paragraph.bold {
  font-weight: 500;
}

.button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img-section {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dug-img {
  background-color: rgba(0, 0, 0, 0.33);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#555),
      to(#555)
    ),
    url("../images/1.jpg");
  background-image: linear-gradient(180deg, #555, #555), url("../images/1.jpg");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
}

.bg-grey {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
}

.project-block {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 12% 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.image-2 {
  border-radius: 5px;
}

.image-3 {
  border-radius: 5px;
}

.tools {
  margin-bottom: 0px;
  color: #555;
  font-size: 18px;
}

.bg-dark {
  margin-top: 0px;
  padding-top: 80px;
  background-color: #7f7f7f;
}

.images-dug {
  display: -ms-grid;
  display: grid;
  padding: 60px 12%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-4 {
  border-radius: 5px;
}

.image-5 {
  border-radius: 5px;
}

.image-6 {
  border-radius: 5px;
}

.image-7 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 60px;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-2 {
  display: -ms-grid;
  display: grid;
  padding-top: 40px;
  padding-right: 12%;
  padding-left: 12%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-8 {
  display: block;
  max-width: none;
  border-radius: 5px;
}

.bg-footer {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #333;
}

.footer {
  display: block;
  padding: 60px 12% 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #333;
  color: #888;
  text-align: center;
}

.footer-flex-container {
  display: block;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  position: relative;
  display: block;
  width: 50px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.social-block {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.icon {
  margin-left: 10px;
}

.footer-nav-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraph-2 {
  margin-top: 20px;
  font-size: 17px;
  line-height: 20px;
}

.facebook {
  color: #555;
}

.image-9 {
  display: block;
}

.social-link {
  padding-left: 20px;
}

.footer-text-block {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.image-10 {
  max-width: none;
}

.text {
  margin-right: 5px;
  padding-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 17px;
  line-height: 20px;
}

.and {
  margin-right: 5px;
  font-size: 17px;
  line-height: 20px;
}

.heart-icon {
  margin-right: 5px;
}

.foot-p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.foot-p._2nd-p {
  margin-top: 5px;
}

.text-block {
  margin-top: 0px;
  font-size: 17px;
  line-height: 20px;
}

.paw {
  margin-right: 0px;
}

.copyright {
  margin-right: 5px;
}

.free-icons {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
}

#w-node-c70c2c8e0e92-a5c8ac87 {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-526b4a58ba8d-a5c8ac87 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-20472443f95d-a5c8ac87 {
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
}

#w-node-090e4297a3c3-a5c8ac87 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a9d22bb25c3e-a5c8ac87 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-008ee06637b5-a5c8ac87 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-ec6e9673ad64-a5c8ac87 {
  align-self: baseline;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-087a0c3e454f-a5c8ac87 {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

#w-node-3eaa9a5032f8-a5c8ac87 {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

#w-node-f0b286dbca5f-a5c8ac87 {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

#w-node-45f9bc94c1e1-a5c8ac87 {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

#w-node-d2d63cce2286-a5c8ac87 {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
